Copyright 2017 United States Government as represented by the
Administrator of the National Aeronautics and Space Administration.
All Rights Reserved.

This file is available under the terms of the NASA Open Source Agreement
(NOSA). You should have received a copy of this agreement with the
Kepler source code; see the file NASA-OPEN-SOURCE-AGREEMENT.doc.

No Warranty: THE SUBJECT SOFTWARE IS PROVIDED "AS IS" WITHOUT ANY
WARRANTY OF ANY KIND, EITHER EXPRESSED, IMPLIED, OR STATUTORY,
INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY THAT THE SUBJECT SOFTWARE
WILL CONFORM TO SPECIFICATIONS, ANY IMPLIED WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR FREEDOM FROM
INFRINGEMENT, ANY WARRANTY THAT THE SUBJECT SOFTWARE WILL BE ERROR
FREE, OR ANY WARRANTY THAT DOCUMENTATION, IF PROVIDED, WILL CONFORM
TO THE SUBJECT SOFTWARE. THIS AGREEMENT DOES NOT, IN ANY MANNER,
CONSTITUTE AN ENDORSEMENT BY GOVERNMENT AGENCY OR ANY PRIOR RECIPIENT
OF ANY RESULTS, RESULTING DESIGNS, HARDWARE, SOFTWARE PRODUCTS OR ANY
OTHER APPLICATIONS RESULTING FROM USE OF THE SUBJECT SOFTWARE.
FURTHER, GOVERNMENT AGENCY DISCLAIMS ALL WARRANTIES AND LIABILITIES
REGARDING THIRD-PARTY SOFTWARE, IF PRESENT IN THE ORIGINAL SOFTWARE,
AND DISTRIBUTES IT "AS IS."

Waiver and Indemnity: RECIPIENT AGREES TO WAIVE ANY AND ALL CLAIMS
AGAINST THE UNITED STATES GOVERNMENT, ITS CONTRACTORS AND
SUBCONTRACTORS, AS WELL AS ANY PRIOR RECIPIENT. IF RECIPIENT'S USE OF
THE SUBJECT SOFTWARE RESULTS IN ANY LIABILITIES, DEMANDS, DAMAGES,
EXPENSES OR LOSSES ARISING FROM SUCH USE, INCLUDING ANY DAMAGES FROM
PRODUCTS BASED ON, OR RESULTING FROM, RECIPIENT'S USE OF THE SUBJECT
SOFTWARE, RECIPIENT SHALL INDEMNIFY AND HOLD HARMLESS THE UNITED
STATES GOVERNMENT, ITS CONTRACTORS AND SUBCONTRACTORS, AS WELL AS ANY
PRIOR RECIPIENT, TO THE EXTENT PERMITTED BY LAW. RECIPIENT'S SOLE
REMEDY FOR ANY SUCH MATTER SHALL BE THE IMMEDIATE, UNILATERAL
TERMINATION OF THIS AGREEMENT.

158.CM.1        Demonstration
158.CM.3        Demonstration
159.CM.1        Demonstration
160.CM.1        Test            
160.CM.2        Test
164.CM.1        Demonstration
164.CM.2        Demonstration
164.CM.3        Test            Kester Perl script
164.CM.4        Demonstration
164.CM.5        Demonstration
171.CM.1        Test
171.CM.2        Demonstration
171.CM.3        Demonstration
171.CM.4        Demonstration
171.CM.5        Demonstration
171.CM.6        Demonstration
172.CM.1        Demonstration
173.CM.1        Demonstration
175.CM.1        Demonstration
177.CM.1        Demonstration
177.CM.2        Demonstration
178.CM.1        Demonstration
182.CM.1        Demonstration
182.CM.2        Demonstration
182.CM.3        Demonstration
209.CM.1        Demonstration
229.CM.1        Demonstration
680.CM.1        Demonstration
684.CM.1        Demonstration
684.CM.2        Demonstration
926.CM.1        Demonstration
926.CM.2        Demonstration
926.CM.3        Demonstration
926.CM.4        Demonstration
926.CM.5        Demonstration
926.CM.6        Demonstration
926.CM.7        Demonstration
926.CM.8        Demonstration
926.CM.11       Demonstration
1055.CM.1       Demonstration
1072.CM.1       Demonstration
